.App {
  text-align: center;
  background-color: #E5E5E5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

p {
  margin: 10px 0;
}

button {
  margin: 20px 0;
}

.Letter-input {
  margin-top: 20px; 
}
